@media (max-width: 408px) {
  .end-class-modal h2 {
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  .end-class-modal {
    /* padding: 20px; */
  }
  .end-class-modal h2 {
    font-size: 17px;
  }
  .end-class-modal label {
    font-size: 14px;
  }
  .end-class-modal ul label {
    font-size: 13px;
  }
}

.end-class-modal h2 {
  font-weight: 900;
}

/* radio buttons */

.end-class-modal label {
  font-size: 17px;
  font-weight: 600;
}
.end-class-modal ul label {
  font-size: 15px;
}

.end-class-modal textarea {
  display: none;
  resize: none;
  width: 94%;
  height: 0;
  padding: 2%;
  border-radius: 5px;
  border-color: rgba(128, 128, 128, 0.473);
  color: gray;
}

.end-class-modal textarea.active {
  display: block;
  animation: slide 300ms forwards;
}
@keyframes slide {
  0% {
    height: 0;
  }
  100% {
    height: 80px;
  }
}
.end-class-modal .reasons {
  display: grid;
  grid-gap: 15px;
}

.end-class-modal ul {
  display: none;
  margin: 0;
  padding-left: 20px;
  grid-gap: 15px;
}

.end-class-modal ul.active {
  display: grid;
}

/* end button */

.end-class-modal button.end {
  margin-top: 20px;
  font-size: 15px;
  background-color: tomato;
  color: white;
  border-width: 0;
  border-radius: 4px;
  padding: 10px 40px;
  cursor: pointer;
  position: relative;
}

.end-class-modal button.end:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.end-class-modal button.end:hover:after {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.5s ease-in-out;
}

/* cancel button */

.end-class-modal button.cancel_btn {
  margin-top: 20px;
  font-size: 15px;
  background-color: white;
  color: gray;
  border-width: 0;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
}

.end-class-modal button.cancel_btn:hover {
  text-decoration: underline;
  color: black;
}

/* big custom made radio buttons */

.end-class-modal input[type='radio'] {
  display: none;
}
.end-class-modal input[type='radio'] label {
  position: relative;
  display: inline-flex;
}

.end-class-modal #custom_radio {
  border: 1px solid gray;
  background-color: white;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -3px;
}

.end-class-modal #custom_radio i {
  font-size: 9px;
  color: white;
}

.end-class-modal input[type='radio']:checked ~ #custom_radio {
  background-color: tomato;
  border-color: tomato;
}
/* small custom made radio buttons */

.end-class-modal ul input[type='radio'] label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-class-modal ul #custom_radio {
  transform: scale(0.8);
}

.end-class-modal ul #custom_radio i {
  font-size: 8px;
  color: white;
}

.end-class-modal ul input[type='radio']:checked ~ #custom_radio {
  background-color: tomato;
  border-color: tomato;
}
