.navbar_container {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 50px;
}
.navbar_container .logo {
  display: flex;
  align-self: center;
}
/* left navbar */
.navbar_container .left {
  position: absolute;
  left: 0;
  display: flex;
  align-self: center;
}
.navbar_container .left div {
  margin: 0 10px;
}
.navbar_container .left div:nth-child(2) {
  border-left: 1px solid rgba(128, 128, 128, 0.548);
  padding-left: 10px;
  color: gray;
  font-size: 14px;
  font-weight: 500;
}
.navbar_container .logo img {
  width: 30px;
  height: 30px;
}
/* right navbar */
.navbar_container .right {
  display: flex;
}
.navbar_container .right .timer {
  display: flex;
  align-self: center;
}

.navbar_container .right div:nth-child(2) {
  margin: 0 20px;
}

.navbar_container .right .end_class button {
  border-width: 0;
  color: white;
  background-color: tomato;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}
.navbar_container .right .end_class button:hover {
  transform: scale(0.97);
}
.navbar_container .right .end_class button:focus {
  outline-width: 0;
}

.navbar_container .right .end_class {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
}

@media (max-width: 575px) {
  .navbar_container {
    display: none;
  }
}

/* Responsive */

.navbar_mb_container {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 50px;
}
/* logo */
.navbar_mb_container .logo {
  position: absolute;
  left: 10px;
  display: flex;
  align-self: center;
}
.navbar_mb_container .logo img {
  height: 30px;
}

/* hamburgur */
.navbar_mb_container .hamburger i {
  font-size: 23px;
  color: rgb(100, 98, 98);
}
.navbar_mb_container .hamburger {
  display: flex;
  align-self: center;
  padding-right: 20px;
  cursor: pointer;
}
/* media querries */
@media (min-width: 575px) {
  .navbar_mb_container {
    display: none;
  }
}
